* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.lbt {
  margin-top: 50px;
  height: 450px;
  width: 100%;
  background: #ccc;
}

.lbt .left {
  position: relative;
  width: 100%;
}

.lbt .left a {
  display: none;
}

.lbt .left a img {
  width: 100%;
}

.lbt .left .a1 {
  display: block;
}

.lbt .left .kh1 {
  width: 41px;
  height: 70px;
  border: 1px solid #ccc;
  position: absolute;
  top: 190px;
  left: 145px;
  color: white;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.lbt .left .kh2 {
  width: 41px;
  height: 70px;
  border: 1px solid #ccc;
  position: absolute;
  top: 190px;
  left: 980px;
  color: white;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.lbt .left ul {
  position: absolute;
  left: 551px;
  top: 465px;
}

.lbt .left ul li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  background: #000;
  color: #ccc;
  margin-right: 10px;
}

.lbt .left ul li a {
  display: block;
  color: #fff;
}

.lbt .left ul .l1 {
  background: red;
}

.lbt .right {
  position: absolute;
  top: 70px;
  left: 1025px;
}

.lbt .right a {
  display: block;
}
