* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.lbt-list {
  width: 100%;
  margin-left: 216px;
  height: 450px;
  border: 1px solid #ccc;
}

.lbt-list .left {
  height: 100%;
  width: 47%;
  float: left;
  padding-left: 3%;
}

.lbt-list .left .d3 {
  width: 50%;
  float: left;
  margin-right: 10%;
}

.lbt-list .left .d4 {
  width: 40%;
  float: left;
}

.lbt-list .left dl {
  overflow: hidden;
  margin-bottom: 30px;
}

.lbt-list .left dl dt {
  margin-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.lbt-list .left dl dd {
  text-align: center;
  float: left;
  margin-top: 10px;
  padding: 0 10px;
  border-left: 1px solid #ccc;
  font-size: 14px;
  line-height: 14px;
}

.lbt-list .left dl dd .c1 {
  color: red;
}

.lbt-list .left dl dd .c2 {
  color: #F97B00 !important;
}

.lbt-list .left dl dd .c3 {
  color: #AD5702 !important;
}

.lbt-list .left dl dd .c4 {
  color: #000;
}

.lbt-list .left dl .d1 {
  border-left: none;
}

.lbt-list .right {
  margin-left: 10%;
  float: left;
  height: 100%;
  width: 264px;
  background: #ccc;
}

.lbt-list .right ul {
  margin-left: 10px;
  margin-right: 10px;
  width: 244px;
  height: 53%;
}

.lbt-list .right ul li {
  width: 80px;
  height: 80px;
  float: left;
}

.lbt-list .right ul li a img {
  width: 80PX;
  height: 80px;
  border: 1px solid #ccc;
}

.lbt-list .right .r1 {
  margin-left: 10px;
  margin-right: 10px;
}

.lbt-list .right .r1 img {
  width: 240px;
}
