@charset "UTF-8";
* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
}

#goujiuwang {
  width: 100%;
  height: 100%;
}

.haeder-top {
  width: 100%;
  height: 31px;
  background: #3E3A39;
  line-height: 30px;
  font-size: 13px;
  color: #CCC;
  font-family: "宋体";
}

.haeder-top .center {
  width: 1200px;
  margin: 0 auto;
}

.haeder-top .center .center-left {
  cursor: pointer;
  position: relative;
  float: left;
}

.haeder-top .center .center-left img {
  width: 12px;
  height: 12px;
}

.haeder-top .center .center-left em {
  vertical-align: bottom;
  line-height: 35px;
  display: inline-block;
  height: 30px;
}

.haeder-top .center .center-left span {
  width: 100%;
  height: 31px;
  background: #3E3A39;
  line-height: 30px;
  font-size: 13px;
  color: #CCC;
  font-family: "宋体";
}

.haeder-top .center .center-left .ewm {
  position: absolute;
  top: 36px;
  left: 0;
  background: #fff;
  padding: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  z-index: 99999;
  display: none;
}

.haeder-top .center .center-left .ewm span {
  background: transparent;
  z-index: 9;
  left: 5px;
  top: -5px;
  color: #fff;
  position: absolute;
  right: -8px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 16px;
}

.haeder-top .center .center-left .ewm img {
  width: 200px;
  height: 200px;
}

.haeder-top .center .center-right {
  max-width: 850px;
  float: right;
}

.haeder-top .center .center-right li {
  float: left;
  width: 95px;
  height: 30px;
  text-align: center;
}

.haeder-top .center .center-right li a {
  color: #ccc;
  text-align: center;
}

.haeder-top .center .center-right .line {
  margin-top: 9px;
  height: 12px;
  width: 1px;
  background: #ddd;
}

.haeder-top .center .center-right .loginReg {
  color: #ccc;
  width: 110px;
}

.haeder-top .center .center-right .loginReg a {
  color: yellow;
}

.haeder-top .center .center-right .loginReg {
  margin: 0 3px;
  cursor: pointer;
}

.haeder-top .center .center-right .tel {
  width: 100px;
}

.header-tp {
  height: 80px;
  margin: 0 auto;
  width: 1200px;
}

.header-Item {
  padding: 10px 0;
  height: 90px;
  margin: 0 auto;
  width: 1200px;
  margin-bottom: 36px;
}

.header-Item .Item-a {
  display: inline;
  margin-top: 26px;
  margin-right: 25px;
  float: left;
}

.header-Item .Item-1 {
  float: left;
  width: 175px;
  height: 60px;
  margin: 20px 0 0 20px;
}

.header-Item .Item-2 {
  width: 450px;
  margin: 24px 0 0 80px;
  height: auto;
  float: left;
}

.header-Item .Item-2 input {
  width: 350px;
  height: 33px;
  line-height: 33px;
  text-indent: 10px;
  border: 3px solid #c40000;
  font-size: 14px;
  outline: 0;
  float: left;
}

.header-Item .Item-2 span {
  display: block;
  width: 86px;
  height: 33px;
  background: #c40000;
  color: #fff;
  line-height: 33px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  float: left;
  text-align: center;
}

.header-Item .Item-2 ul li {
  float: left;
  font-size: 12px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #ccc;
}

.header-Item .Item-3 {
  position: relative;
  width: 139px;
  height: 34px;
  font-size: 13px;
  background: #f9f9f9;
  border: 1px solid #dfdfdf;
  line-height: 34px;
  float: left;
  margin-top: 24px;
  margin-left: 70px;
}

.header-Item .Item-3 a em {
  background: url(../images/shopcar.png);
  width: 27px;
  height: 27px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

.header-Item .Item-3 a .s1 {
  color: #666;
}

.header-Item .Item-3 a .s2 {
  color: #CCC;
  font-weight: 900;
  font-size: 20px;
  vertical-align: top;
}

.header-Item .Item-3 a .itemNum {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../images/qipao.png);
  color: #FFF;
  top: -20px;
  left: 0;
  line-height: 29px;
  font-weight: 900;
  display: block;
  text-align: center;
}

.list {
  width: 1200px;
  margin: 0 auto;
  font-size: 15px;
  height: 45px;
}

.list .list-u1 {
  float: left;
  height: 45px;
}

.list .list-u1 li {
  float: left;
  padding: 0 25px;
  height: 45px;
  line-height: 45px;
}

.list .list-u1 li a {
  color: #000;
}

.list .list-u1 .list-nv {
  font-size: 18px;
  padding: 0;
  width: 185px;
  background: #CC0210;
  position: relative;
  z-index: 999;
  float: left;
  padding: 0 25px;
  height: 45px;
  line-height: 45px;
  position: relative;
}

.list .list-u1 .list-nv a {
  color: #fff;
}

.list .list-u1 .list-nv ul {
  background: #CC0210;
  height: 495px;
  position: absolute;
  top: 45px;
  left: 0;
}

.list .list-u1 .list-nv ul li {
  height: 49px;
  position: relative;
}

.list .list-u1 .list-nv ul li a img {
  margin-right: 10px;
}

.list .list-u1 .list-nv ul li span {
  position: absolute;
  top: 0;
  left: 153px;
  float: right;
  color: #ccc;
  font-size: 20px;
}

.list .list-d1 {
  float: left;
}

.lbt {
  margin-bottom: 100px;
  height: 450px;
  width: 100%;
  position: relative;
  background: #ccc;
}

.lbt .left {
  position: relative;
  width: 100%;
}

.lbt .left a {
  display: none;
}

.lbt .left a img {
  width: 100%;
}

.lbt .left .a1 {
  display: block;
}

.lbt .left .kh1 {
  width: 41px;
  height: 70px;
  border: 1px solid #ccc;
  position: absolute;
  top: 190px;
  left: 216px;
  color: white;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.lbt .left .kh2 {
  width: 41px;
  height: 70px;
  border: 1px solid #ccc;
  position: absolute;
  top: 190px;
  left: 980px;
  color: white;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.lbt .left ul {
  position: absolute;
  left: 551px;
  top: 465px;
}

.lbt .left ul li {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  background: #000;
  color: #ccc;
  margin-right: 10px;
}

.lbt .left ul li a {
  display: block;
  color: #fff;
}

.lbt .left ul .l1 {
  background: red;
}

.lbt .right {
  position: absolute;
  top: 43px;
  left: 1025px;
}

.lbt .right a {
  display: block;
}

.lbt .lbt-list {
  position: absolute;
  top: 0;
  left: 216px;
  width: 1047px;
  height: 450px;
  border: 1px solid #ccc;
  display: none;
  background: white;
}

.lbt .lbt-list .left {
  height: 100%;
  width: 47%;
  float: left;
  padding-left: 3%;
}

.lbt .lbt-list .left .d3 {
  width: 50%;
  float: left;
  margin-right: 10%;
}

.lbt .lbt-list .left .d4 {
  width: 40%;
  float: left;
}

.lbt .lbt-list .left dl {
  overflow: hidden;
  margin-bottom: 30px;
}

.lbt .lbt-list .left dl dt {
  margin-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.lbt .lbt-list .left dl dd {
  text-align: center;
  float: left;
  margin-top: 10px;
  padding: 0 10px;
  border-left: 1px solid #ccc;
  font-size: 14px;
  line-height: 14px;
}

.lbt .lbt-list .left dl dd .c1 {
  color: red;
}

.lbt .lbt-list .left dl dd .c2 {
  color: #F97B00 !important;
}

.lbt .lbt-list .left dl dd .c3 {
  color: #AD5702 !important;
}

.lbt .lbt-list .left dl dd .c4 {
  color: #000;
}

.lbt .lbt-list .left dl .d1 {
  border-left: none;
}

.lbt .lbt-list .right {
  margin-left: 10%;
  float: left;
  height: 100%;
  width: 264px;
  background: #ccc;
}

.lbt .lbt-list .right ul {
  margin-left: 10px;
  margin-right: 10px;
  width: 244px;
  height: 53%;
}

.lbt .lbt-list .right ul li {
  width: 80px;
  height: 80px;
  float: left;
}

.lbt .lbt-list .right ul li a img {
  width: 80PX;
  height: 80px;
  border: 1px solid #ccc;
}

.lbt .lbt-list .right .r1 {
  margin-left: 10px;
  margin-right: 10px;
}

.lbt .lbt-list .right .r1 img {
  width: 240px;
}
